* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
}

/** NAV-TOP */
nav.nav-top {
  background-image: linear-gradient(
    to right,
    rgb(119, 99, 99),
    rgba(207, 46, 207, 0.805)
  );
  
}

nav.nav-top img {
  width: 50px;
  border: 1px solid red;
  outline: 3px solid orangered;
  outline-offset: 4px;
  margin-left: 7px;
  margin-top: 7px;
  margin-bottom: 7px;
  
}

.nav-top .sign-in {
  float: right;
  margin: 1.5rem 1rem;
  color: white;
  font-weight: 700;
}

.nav-top .sign-in a {
  color: white;
  text-decoration: none;
}

.nav-top .sign-in a:hover {
  color: black;
}

.clearfix {
  clear: both;
}

/** NAV-MAIN */
.nav-main {
text-align: center;
height: 80px;
padding-top: 30px;
background-color: #ffaa53;
position: sticky;
top: 0;

}
.nav-main a{
  padding-left: 40px;
  text-decoration: none;
  font-family:  "DynaPuff", cursive;
  color: black;
  font-weight: bold;
  letter-spacing: 2px;
  
  
}
.nav-main a:hover{
  color: white;
}
.main{
  text-align: justify;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  font-weight: 600px; 
}

.icon{
 border: 1px solid red;
 position: fixed;
 bottom: 3rem;
 right: 3rem;
 background-color: red;
width: 4rem;
height: 4rem;
text-align: center;
padding: 5px;
border-radius: 50%;
}
i.fa-brands{
 font-size: 50px;
 color: white;
}
i.fa-brands:hover{
  color: black;
  cursor: pointer;
}
 
